/* This file contains TWU specific styles in addition to the Quarto theme CSS */

/* Improving navigation on small screens */
@media (max-width: 991.98px) {
    .d-flex{
        padding:.5rem;
    }
    .sidebar.sidebar-navigation > *{
        padding-top:.2rem;
    }
    .menu-text {
        display:flex;
        }
    .menu-text span{
        white-space: wrap;
        }
    .menu-text .chapter-number{
        padding-right:.5rem;
        }

}

/* Add extra space after emphasized text */
em {
    padding-right: .1rem;
}