/* Fonts */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);

/* Variables */

:root {
    --accent-color: #2375DA;
    --accent-color-gold: #BD9B60;
    --primary-color: #004684;
    --primary-color-dark: #002856;
    --gray-color-lighter: #EFEEEB;
    --gray-color-light: #D9D9D9;
    --gray-color: #E3E1D8;
}

/* TWU Global Header Styles */

.twu-global-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--primary-color-dark);
    font-weight: 500;
    z-index: 1000;
    padding-bottom: 2px;
}

.twu-global-header header {
    border-bottom: 2px solid #526f90;
}

.twu-global-header ul {
    display: flex;
    justify-content: flex-end;
    margin: 0 0 0 auto;
    padding: 0;
    line-height: 1;
    list-style: none;
}

.twu-global-header ul li {
    padding: 0 0.5rem;
    border-right: 1px solid #2b4664;
}

.twu-global-header ul li:last-child {
    border-right: none;
}

.twu-global-header ul a {
    margin: 0;
    padding: 0;
    color: #cfcdc9;
    font-size: 13px;
    line-height: 2.75;
    text-decoration: none;
}

.twu-global-header ul a:hover {
    color: #fff;
}

.twu-global-header-label {
    font-size: 16px;
    font-family: 'open sans';
    font-weight: normal;
    color: var(--gray-color-light);
    padding-left: 10px;
    letter-spacing: 3px;
    text-transform: uppercase;
    position: relative;
    top: 1px;
}

.twu-global-nav {
    float: right;
}

/* TWU Course Hearder Styles */

#title-block-header {
    /* color: white; */
    /* background-image: url(header-assets/twu_bg.svg); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: white;
    padding-top: .75rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--gray-color-lighter);
}

#title-block-header .quarto-title-banner {
    background: none;
    padding-top: 10px;
    padding-bottom: 0;
    margin-bottom: 5px;
}

.quarto-title-banner .quarto-title h1.title {
    font-size: 22px;
    margin-bottom: 10px;
    color: var(--primary-color);
}

.quarto-title-banner {
    color: var(--primary-color);
}

.quarto-title-meta-contents {
    font-size: 14px;
}

#title-block-header {
    margin-block-end: 0;
}

#title-block-header.quarto-title-block.default .quarto-title-meta {
    margin-bottom: 10px;
    padding-bottom: 10px;
}

#title-block-header.quarto-title-block.default .quarto-title-meta-heading {
    margin-top: 0;
    font-size: 10px;
}

#title-block-header.quarto-title-block.default .quarto-title-meta-heading p {
    margin-top: 0;
    margin-bottom: 0;
}
/* Sidebar - Main (Left) Navigation */

.sidebar-item {
    margin-top: 0;
}

.sidebar-navigation .sidebar-item-text {
    padding: 6px 10px;
    border-radius: 6px;
    font-size: .85rem;
    margin-top: 0;
    background: linear-gradient(to right, var(--gray-color-lighter) 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .2s ease-out;
}

.sidebar-navigation .sidebar-item-text:hover {
    background-position: left bottom;
}

.sidebar-item .chapter-number {
    font-weight: bold;
}

div.sidebar-item-container .active {
    font-weight: bold;
    color: var(--accent-color);
    background: var(--gray-color-lighter);
}

div.sidebar-item-container .active .chapter-number {
    font-weight: bold;
    color: var(--accent-color);
}

div.sidebar-item-container:hover,
div.sidebar-item-container:focus {
    color: inherit;
}

.quarto-secondary-nav .quarto-btn-toggle {
    color: var(--accent-color);
}

.quarto-secondary-nav .quarto-btn-toggle:hover {
    background-color: var(--accent-color);
    color: white;       
}

.quarto-secondary-nav button.quarto-btn-toggle {
    margin-right: 5px;
}

.sidebar nav[role=doc-toc]>h2,
.sidebar nav[role=doc-toc]>.h2 {
    font-weight: bold;
    margin-bottom: 6px;
}

.sidebar nav[role=doc-toc] ul>li>a:hover,
.sidebar nav[role=doc-toc] ul>li>ul>li>a:hover,
.nav-link:hover .header-section-number,
.sidebar nav[role=doc-toc] ul>li>a.active,
.sidebar nav[role=doc-toc] ul>li>ul>li>a.active {
    color: var(--accent-color) !important;
}

/* Navigation Button Styles*/

.nav-page a {
    background-color: var(--primary-color);
    color: white;
    border-radius: 6px;
    padding: 0 10px;
}

.nav-page a:hover {
    background-color: var(--accent-color);
    color: white;
}

.nav-page .bi {
    font-size: 1.5rem;
}

.nav-page.nav-page-previous {
    margin-right: 5px;
}

.nav-page.nav-page-next {
    margin-left: 5px;
}

/* Content Styles*/

h1,
.h1 {
    margin-top: unset;
}


/* Custom Callout Styles for Learning Activity List */

/* This is a Jeff comment */

h3[data-anchor-id="learning-activities"]+.callout.callout-style-simple.callout-note.no-icon {
    border-left: 1px solid;
    border-color: var(--primary-color);
    padding: 0 .5rem 0 .5rem;
}


.callout.callout-style-simple.callout-note.no-icon p,
.callout.callout-style-simple.callout-note.no-icon ol li,
.callout.callout-style-simple .callout-body {
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
}

/* Custom Callout Styles for {.learning-activity} */

.callout.callout-style-default.callout-note.no-icon.callout-titled {
    border: 1px solid var(--primary-color);
}

.callout.callout-style-default.callout-note.callout-style-default>.callout-header {
    background-color: var(--primary-color);
    color: white;
    padding: 5px 1rem;
    font-weight: normal;
}

.callout.callout-style-default.callout-note.callout-style-default .callout-body {
    padding: .5rem 1rem 0 1rem;
}

.callout.callout-style-default.callout-note.callout-style-default .callout-style-simple.callout-note {
    margin-bottom: 1rem;
    border: 0;
    padding: 0;
}

.callout.callout-style-default.callout-note.callout-style-default .callout-style-simple.callout-note>.callout-body {
    padding: 0;
}

.callout.callout-style-default.callout-note.callout-style-default .callout-style-simple.callout-note>.callout-body .callout-body-container {
    padding-bottom: 0;
}

.callout.callout-style-default.callout-note.callout-style-default .callout-style-simple.callout-note>.callout-body .callout-body-container p {
    padding-bottom: .2rem;
    margin-top: .2rem;
}

.callout.callout-style-default .callout-body, .callout.callout-style-simple .callout-collapse .callout-body {
    font-size: 1rem;
}

/* Accordion */

.callout.callout-style-simple.accordion {
    border-left: 5px solid;
    border-left-color:var(--accent-color);
    border-right: 1px solid var(--primary-color);
    border-top: 1px solid var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
}

.callout.callout-style-simple.accordion.callout-titled .callout-collapse .callout-body .callout-style-simple.callout-note{
    margin-bottom: 0;
    border: 0;
    border-left: .25rem solid var(--accent-color);
    border-radius: 0;
}

.callout.callout-style-simple.callout-titled .callout-collapse .callout-body > :last-child:not(.sourceCode){
    margin-bottom: 0;
}

/* Blockquote Styles */

.blockquote {
    font-size: inherit;
    padding-left: 1rem;
    padding-right: 1.5rem;
    color: unset;
    border-left: .25rem solid var(--accent-color-gold);
    background-color: rgba(233, 236, 239, .65);
}

.course-activity .note blockquote {
    padding: .25rem .625rem;
    border-left: .25rem solid var(--accent-color);
}

/* Caption Styles */

.panel-caption,
.figure-caption,
.subfigure-caption,
figcaption {
    margin-bottom: 10px;
}

.panel-caption,
.figure-caption,
.subfigure-caption,
.table-caption,
figcaption,
caption {
    text-align: left;
}

.caption p,
.text-source,
#gallery details p {
    font-size: .9rem;
    color: #6d7a86;
    line-height: 1.3;
}

/* Figure Styles */

.quarto-figure-center table {
    text-align: left;
}

/* Media Query */

@media(max-width: 799px) {
    .twu-global-header .nav {
        display: none !important;
    }
}

@media (max-width: 991.98px) {
    #title-block-header .quarto-title-banner {
        margin-bottom: 0;
        padding-bottom: .5em;
    }
}


/* Improving navigation on small screens */
@media (max-width: 991.98px) {
    .d-flex{
        padding:.5rem;
    }
    .sidebar.sidebar-navigation > *{
        padding-top:.2rem;
    }
    .menu-text {
        display:flex;
        }
    .menu-text span{
        white-space: wrap;
        }
    .menu-text .chapter-number{
        padding-right:.5rem;
        }

}

/* Add extra space after emphasized text */
em {
    padding-right: .1rem;
}

/* Responsive Video */
.video-container {
    position: relative; 
    padding-bottom: 56.25% !important;  
    height: 0; 
    overflow: hidden;
    margin-bottom: 1em !important;
}
  
.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
}

/* Responsive Tables */

.parent-table-container {
    container-type: inline-size;
    width: 100%;
    margin: 0 auto;
    overflow: auto;
}

.table-container {
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.table>thead {
    border-top: 1px solid #b2bac1;
}

.table>thead>.header>th {
    vertical-align: top;
}

/* Hiding Top Nav */

.twu-global-header .nav {
    display: none !important;
}

/* Removing extra line spacing for listed items */

li>p {
    margin: 0;
}

.slide-deck {
  border: 3px solid #dee2e6;
  width: 100%;
  height: 475px;
}

@media only screen and (max-width: 600px) {
 .slide-deck {
    height: 400px;
  }
}

/* Case Study Callout Styles */

.case-study.callout.callout-style-simple.callout-tip.no-icon {
    border: 1px solid #6dba53;
    background-color: #ecf2ec;
    margin-top: 0;
}

.case-study.callout.callout-style-simple.callout-tip.no-icon .callout-title-container {
    font-size: 1.25rem;
    font-weight: normal;
    opacity: 0.9;
    margin-bottom: 1rem;
}

.case-study.callout.callout-style-simple.callout-tip.no-icon.indented {
    margin-left: 34px;
}