/* This file contains TWU specific styles in addition to the Quarto theme CSS */

/* Improving navigation on small screens */
@media (max-width: 991.98px) {
    .d-flex{
        padding:.5rem;
    }
    .sidebar.sidebar-navigation > *{
        padding-top:.2rem;
    }
    .menu-text {
        display:flex;
        }
    .menu-text span{
        white-space: wrap;
        }
    .menu-text .chapter-number{
        padding-right:.5rem;
        }

}

/* Add extra space after emphasized text */
em {
    padding-right: .1rem;
}

/*----------Responsive Video Embed------------------*/
.video-container {
    position: relative; 
    padding-bottom: 56.25%;  
    height: 0; 
    overflow: hidden;
    margin-bottom: 1em;
  }
  
  .video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
  }